.App {
  text-align: center;

}


img { 
   width: 50px;
}

button{
  margin:10px;
}


.categories {
  display: flex;
  flex-direction: row;



}



.ListGroup {
   display: flex;
   align-items: center;
  

}

